<pre><font color=red><b>
. : 1
? : 0~1

<table>
<thead>
<tr>
<th>특수 문자</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>.</code></td>
<td>한 개의 임의의 문자를 나타냅니다. (줄바꿈 문자인 <code>\n</code>는 제외)</td>
</tr>
<tr>
<td><code>?</code></td>
<td>앞의 문자가 존재할 수도 있고, 존재하지 않을 수도 있습니다. (문자가 0개 또는 1개)</td>
</tr>
<tr>
<td><code>*</code></td>
<td>앞의 문자가 무한개로 존재할 수도 있고, 존재하지 않을 수도 있습니다. (문자가 0개 이상)</td>
</tr>
<tr>
<td><code>+</code></td>
<td>앞의 문자가 최소 한 개 이상 존재합니다. (문자가 1개 이상)</td>
</tr>
<tr>
<td><code>^</code></td>
<td>뒤의 문자열로 문자열이 시작됩니다.</td>
</tr>
<tr>
<td><code>$</code></td>
<td>앞의 문자열로 문자열이 끝납니다.</td>
</tr>
<tr>
<td><code>{숫자}</code></td>
<td>숫자만큼 반복합니다.</td>
</tr>
<tr>
<td><code>{숫자1, 숫자2}</code></td>
<td>숫자1 이상 숫자2 이하만큼 반복합니다. <code>?</code>, <code>*</code>, <code>+</code>를 이것으로 대체할 수 있습니다.</td>
</tr>
<tr>
<td><code>{숫자,}</code></td>
<td>숫자 이상만큼 반복합니다.</td>
</tr>
<tr>
<td><code>[ ]</code></td>
<td>대괄호 안의 문자들 중 한 개의 문자와 매치합니다. [amk]라고 한다면 a 또는 m 또는 k 중 하나라도 존재하면 매치를 의미합니다.  <code>[a-z]</code>와 같이 범위를 지정할 수도 있습니다. <code>[a-zA-Z]</code>는 알파벳 전체를 의미하는 범위이며, 문자열에 알파벳이 존재하면 매치를 의미합니다.</td>
</tr>
<tr>
<td><code>[^문자]</code></td>
<td>해당 문자를 제외한 문자를 매치합니다.</td>
</tr>
<tr>
<td><code>|</code></td>
<td><code>A|B</code>와 같이 쓰이며 A 또는 B의 의미를 가집니다.</td>
</tr>
</tbody>
</table>

|메타문자| |사용예|설명|
|------|---|---|---|
|[ ]|문자 클래스|[abc]|a, b, c 중 한 개의 문자와 매치                              &nbsp;|
|[s-e]| |[0-2]<br>[a-c]<br>[a-zA-Z]<br>[0-9]|0,1,2<br>a,b,c<br>알파벳모두<br>숫자|
|^|반대|[^0-9]|숫자가 아닌 문자와 매치|
|<font color=red size=4><b>?|0또는1글자<br>(있어도 되고 없어도 되고)|ab?c|?앞에 문자 b를 0 또는 1번 반복<br>O abc<br>O ac<br>X abbc|
|<font color=red size=4><b>.|1글자|a.b<br>a[.]b|a + 모든문자 + b<br>a + Dot(.)문자 + b|
|<font color=red size=4><b>*|반복 0~|ca*t| *앞에 문자 a를 0~ 반복<br>O ct<br>O cat<br>O caaat|
|<font color=red size=4><b>+|반복 1~|ca+t| +앞에 문자 a를 1~ 반복<br>X ct<br>O cat<br>O caaat|  
|{s,e}|반복 s~e|{3,5}<br>{3, }<br>{ ,5}<br>{1, }<br>{0, }<br>ca{2}t<br> <br> <br>ca{2,4}t<br> <br> <br> <br>|3이상 ~ 5이하 반복<br>3~ 이상 반복<br>~5 이하 반복<br>+<br>*<br>{2}앞에 문자a를 2번반복<br>X cat<br>O caat<br>{2}앞에 문자a를 2 ~ 4번반복<br>X cat<br>O caat<br>O caaaat|

|종류|설명|
|------|---|
|<font color=red size=3><b>match()|문자열의 처음부터 정규식과 매치되는지 검사|
|<font color=red size=3><b>search()|문자열 전체에서 정규식과 매치되는지 검사|
|<font color=red size=3><b>findall()|정규식과 매치되는 모든 문자열(substring)을 리스트로 반환|
|<font color=red size=3><b>finditer()|정규식과 매치되는 모든 문자열(substring)을 반복 가능한 객체로 반환|

In [1]:
import re

In [6]:
a = "AbC"

<pre><b><font color=red size=4>re.함수('패턴' , '대상문장')

In [19]:
res = re.search(', [a-zA-Z ]*[.]', "Cumings, Mrs. John Bradley Florence Briggs Thayer)")
res

<pre><b><font color=blue size=4>p = re.compile('패턴', ..)</font>
<font color=red size=4>re.함수(</font><font color=blue size=4> p</font><font color=red size=4> , '대상문장')</font>

<pre><b><font color=blue size=4>p = re.compile('패턴', ..)</font>
<font color=red size=4>re.함수(</font><font color=blue size=4> p</font><font color=red size=4> , '대상문장')</font>
<font color=blue size=4>p</font>.  <font color=red size=4>함수(    '대상문자')</font>

In [ ]:
#   abc@aa.com lee.kim@korea.com

In [21]:
a = ['010-123-1234', '010-4561-4545', '02-745-7895', '02-9258-7895']

In [27]:
a = ['010-123-1234', '010-4561-4545', '02-745-7895', '02-9258-7895']
[re.findall('\d{2,3}-\d{3,4}-\d{4}', i) for i in a]

[['010-123-1234'], ['010-4561-4545'], ['02-745-7895'], ['02-9258-7895']]

In [61]:
a = ['aa.txt', 'aa.jpg', 'a100.txt']
b = []
for i in a:
    p = re.finditer('.+\.([a-z]{3})', i)
    b.extend(j.group() for j in p)
b

['aa.txt', 'aa.jpg', 'a100.txt']

In [62]:
a = ['aa.txt', 'aa.jpg', 'a100.txt']
for i in a:
    print(re.findall('.+\.([a-z]{3})', i))

['txt']
['jpg']
['txt']

In [47]:
a = ['aa.txt', 'aa.jpg', 'a100.txt']
for i in a:
    print(re.search('.+\.(txt)', i))

<re.Match object; span=(0, 6), match='aa.txt'>
None
<re.Match object; span=(0, 8), match='a100.txt'>

In [63]:
a = '02-123-1234 032-5151-1234 032-1234-5454 031-1234-5454'
p = re.compile('(\d{2,3})-\d{3,4}-\d{4}')
res = p.findall(a)
res

['02', '032', '032', '031']

In [66]:
p = re.compile("[ㄱ-ㅎㅏ-ㅣ가-힣]+")
res = p.findall("The name is Jack, kim, 홍길동, king, 김길동 ㅋㅋㅋ ㅠㅠㅠㅠ")
res

['홍길동', '김길동', 'ㅋㅋㅋ', 'ㅠㅠㅠㅠ']