In [5]:
def calc(s, e):
    tmp = 0
    for i in range(s,e+1):
        tmp+=i
    return tmp

In [9]:
calc(5, 1), calc(4, 60)

(0, 1824)

In [13]:
def addr_info(name, addr) :
    res=name+','+addr
    return res

In [14]:
addr_info('서울', '서울')

'서울,서울'

In [15]:
def calc(num1, num2):
    return num1*2, num2*4

n1, n2 = calc(3, 3)
n1, n2

(6, 12)

In [ ]:
labmda x: range

In [4]:
grade = lambda score: 'A' if score > 90 else 'F'
grade(95)

'A'

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(  { "name2":['kim','lee','hong','lee','lee']
                     , "age" : [10,20,np.nan,30,20]} )
df
df = pd.DataFrame(  { 
                        "grade": ['A','A','A','B','B']
                      , "age" : [10,20,np.nan,30,20]      
                      , "score" : [100,90,80,70,80]        
                      , "name2": ['kim','lee','hong','park','jung']
                  } )
df

  grade   age  score name2
0     A  10.0    100   kim
1     A  20.0     90   lee
2     A   NaN     80  hong
3     B  30.0     70  park
4     B  20.0     80  jung

In [10]:
dfcp = df.copy()

In [24]:
dfcp.groupby('grade')['age'].mean().to_dict()

{'A': 15.0, 'B': 25.0}

In [28]:
dfcp['age'] = dfcp['age'].fillna(dfcp['grade'].map(dfcp.groupby('grade')['age'].mean().to_dict()))

In [29]:
dfcp

  grade   age  score name2
0     A  10.0    100   kim
1     A  20.0     90   lee
2     A  15.0     80  hong
3     B  30.0     70  park
4     B  20.0     80  jung

<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 33.3333%;">&nbsp;</td>
<td style="width: 33.3333%; text-align: center;"><b>apply</b></td>
<td style="width: 33.3333%; text-align: center;"><b>transform</b></td>
</tr>
<tr>
<td style="width: 33.3333%; text-align: center;"><br><b>[공통]</b><br><br></td>
<td style="width: 66.6666%; text-align: center;" colspan="2">컬럼명을 메서드 밖에서 명시하면 결과는 같게 나온다.</td>
</tr>
<tr>
<td style="width: 33.3333%; text-align: center;"><b>[차이1]</b><br><br><b>컬럼명을 메서드 안에서 명시하면</b></td>
<td style="width: 33.3333%; text-align: center;">그룹별 시리즈 리턴</td>
<td style="width: 33.3333%; text-align: center;">에러</td>
</tr>
<tr>
<td style="width: 33.3333%; text-align: center;"><b><span style="color: #333333;">[차이2]<br></span></b><br><b><span style="color: #333333;">컬럼명을 메서드 안과 밖에 <br>모두 명시하지 않는다면</span></b></td>
<td style="width: 33.3333%; text-align: center;">기존 데이터의 자료형과 함수가<br><br><u>연산 가능해야만 실행</u>된다.</td>
<td style="width: 33.3333%; text-align: center;"><u>연산 가능한 컬럼만 알아서</u><br><br><u>필터링</u>되어 결과가 나온다.</td>
</tr>
<tr>
<td style="width: 33.3333%; text-align: center;"><b><span style="color: #333333;"><span style="color: #333333;">[차이3]<br></span><br><span style="color: #333333;">연산 가능한 컬럼만 함수 적용한다면</span></span></b></td>
<td style="width: 33.3333%; text-align: center;"><u>
    <font color=red><b>그룹별 데이터프레임</u> 출력<br><br> <font color=red><b>(멀티인덱스)</td>
<td style="width: 33.3333%; text-align: center;"><u><font color=red><b>기존 인덱스</u> 유지</td>
</tr>
</tbody>
</table>